---
title: "Mandarin III"
desc: "The site for Mandarin III Videos at the Miami Valley School"
---

<% content_for :stylesheets do %>
	<%= stylesheet_link_tag "home", "video", "activitystyle" %>
<% end %>

<% content_for :javascripts do %>
	<%= javascript_include_tag "jquery-sortable-min", "interactive" %>
<% end %>

<div class="container">
	<div class="blog-header">
		<h1 class="blog-title">Mandarin III Videos</h1>
		<p class="lead blog-description">Mandarin II Review, Grammar, and Pronunciation Practice</p>
	</div>

	<div class="row">
		<div class="col-sm-8 blog-main">
			<div class="blog-post">
				<h2 id="mii-review" class="blog-post-title">Mandarin II Review Time!</h2>
				<p>So... Remember how Mandarin II was a thing? Check out some of these videos to review some important grammatical structures from last year.</p>
				<hr>
				<h3 id="sentence-structure">Basic Sentence Structure</h3>
				<p>Alright! So we have lots to go over. But let's start off with the basics.</p>
				<h4 id="svo-sentences">Sentence Order: Subject-Verb-Object</h4>
				<%= partial(:video, :locals => {:video_link => "Lz3aFlhUYDA"}) %>
				<h5 id="svo-activity">Activity!</h5>
				<p>Rearrange the words below to form a grammatically correct sentence.</p>
				<%= partial(:rearrange_activity,
							:locals => {
							  :word_order => {"我的朋友" => 1, "有" => 0, "妹妹" => 2, "。" => 3 },
							  :congrats_text => {
								:chinese => "对！",
								:english => "Correct! Now you can proceed to the next video." },
							  :activity_column_size => 5
							}) %>
				<h3 id="time-phrases">Time Phrases</h3>
				<p> Now that you have basic sentence order down, let's check out how to talk about time phrases! This is our first series of videos that go together.</p>
				<h4 id="basic-time-phrases">Basic Time Phrases</h4>
				<%= partial(:video, :locals => {:video_link => "HqkssAFo0Xw"}) %>
				<h5 id="basic-time-activity">Activity!</h5>
				<p>Rearrange the words below to form two grammatically correct sentences (including proper punctuation placement).</p>
				<%= partial(:rearrange_activity,
							:locals => {
							  :word_order => {"每天" => 3, "，" => 1, "我的朋友" => 0, "看电影" => 2, "。" => 4 },
							  :congrats_text => {
								:chinese => "对！",
								:english => "Correct! Now proceed to the next sentence." },
							  :activity_column_size => 7
							}) %>
				<%= partial(:rearrange_activity,
							:locals => {
							  :word_order => {"我的弟弟" => 3, "早上八点" => 1, "坐" => 4, "校车" => 2, "上班" => 0, "。" => 5 },
							  :congrats_text => {
								:chinese => "对！",
								:english => "Correct! Now you can proceed to the next video." },
							  :activity_column_size => 7
							}) %>
				<h4 id="de-shi-hou">Time Phrases using &#30340;&#26102;&#20505;</h4>
				<%= partial(:video, :locals => {:video_link => "woH6XGNw75E"}) %>
				<h5 id="de-shi-hou-activity">Activity!</h5>
				<p>Rearrange the words below to form two grammatically correct sentences (including proper punctuation placement).</p>
				<%= partial(:rearrange_activity,
							:locals => {
							  :word_order => {"我" => 1, "晚上" => 3, "的时候" => 0, "看电视" => 2, "。" => 4 },
							  :congrats_text => {
								:chinese => "对！",
								:english => "Correct! Now proceed to the next sentence." },
							  :activity_column_size => 7
							}) %>
				<%= partial(:rearrange_activity,
							:locals => {
							  :word_order => {"星期五" => 5, "的时候" => 1, "，" => 4, "我的妹妹" => 2, "不喜欢" => 0, "上学" => 3, "。" => 6 },
							  :congrats_text => {
								:chinese => "对！",
								:english => "Correct! Now you can proceed to the next video." },
							  :activity_column_size => 8
							}) %>
				<h4 id="yi-hou">Time Phrases using &#20197;&#21518;</h4>
				<%= partial(:video, :locals => {:video_link => "K0nLprOgbOI"}) %>
				<h5 id="yi-hou-activity">Activity!</h5>
				<p>Rearrange the words below to form two grammatically correct sentences (including proper punctuation placement).</p>
				<%= partial(:rearrange_activity,
							:locals => {
							  :word_order => {"三点" => 1, "以后" => 3, "，" => 0, "我" => 4, "看电影" => 2, "。" => 5 },
							  :congrats_text => {
								:chinese => "对！",
								:english => "Correct! Now proceed to the next sentence." },
							  :activity_column_size => 7
							}) %>
				<%= partial(:rearrange_activity,
							:locals => {
							  :word_order => {"我姐姐" => 3, "放学" => 1, "以后" => 4, "喜欢" => 2, "吃晚饭" => 0, "。" => 5 },
							  :congrats_text => {
								:chinese => "对！",
								:english => "Correct! Now you can proceed to the next series." },
							  :activity_column_size => 7
							}) %>
				<h3 id="more-ways">More Ways to Express Time</h3>
				<p>You're done reviewing basic time phrases! Hoorah! There are two other special ways to explain when something happens that you need to review. Let's go! :)</p>
				<h4 id="sequential-action">Sequential Action using &#20808;&#12290;&#12290;&#12290;&#28982;&#21518;</h4>
				<%= partial(:video, :locals => {:video_link => "_zzyhkgb8a4"}) %>
				<h5 id="sequential-action-activity">Activity!</h5>
				<p>This is &#33673;&#33673;'s schedule: 7:00am- Wake up, 7:30am- Go to school, 3:00pm- Return home, 4:00pm: Do homework, 7:00pm: Read, 8:00pm: Sleep. Rearrange the words below to form a grammatically correct sentence about her schedule (including proper punctuation placement).</p>
				<%= partial(:rearrange_activity,
							:locals => {
							  :word_order => {"莉莉" => 5, "先" => 3, "做作业" => 0, "，" => 4, "然后" => 2, "看书" => 1, "。" => 6 },
							  :congrats_text => {
								:chinese => "对！",
								:english => "Correct! Now proceed to the next video!" },
							  :activity_column_size => 7
							}) %>
				<h4 id="past-experience">Past Experience using &#36807;</h4>
				<%= partial(:video, :locals => {:video_link => "VX_K0dtNemI"}) %>
				<h5 id="past-experience-activity">Activity!</h5>
				<p>Rearrange the words below to form a grammatically correct sentence (including proper punctuation placement).</p>
				<%= partial(:rearrange_activity,
							:locals => {
							  :word_order => {"我" => 1, "今年" => 2, "去" => 0, "过" => 4, "中国" => 3, "。" => 5 },
							  :congrats_text => {
								:chinese => "对！",
								:english => "Correct! Now proceed to the next video!" },
							  :activity_column_size => 7
							}) %>
				<h3 id="basic-place">Basic Place Phrases</h3>
				<p>Great work so far! Check out this next video to learn about place phrases!</p>
				<h4 id="place-phrases">Place Phrases using &#22312;</h4>
				<%= partial(:video, :locals => {:video_link => "v0aYsfjgl24"}) %>
				<h5 id="place-phrases-activity">Activity!</h5>
				<p>Rearrange the words below to form two grammatically correct sentences (including proper punctuation placement).</p>
				<%= partial(:rearrange_activity,
							:locals => {
							  :word_order => {"在" => 2, "家" => 3, "，" => 1, "我" => 4, "吃早饭" => 0, "。" => 5 },
							  :congrats_text => {
								:chinese => "对！",
								:english => "Correct! Now proceed to the next sentence." },
							  :activity_column_size => 7
							}) %>
				<%= partial(:rearrange_activity,
							:locals => {
							  :word_order => {"我哥哥" => 3, "在家" => 1, "玩儿" => 4, "电脑游戏" => 0, "。" => 5 },
							  :congrats_text => {
								:chinese => "对！",
								:english => "Correct! Now you can proceed to the next series." },
							  :activity_column_size => 7
							}) %>
				<h3 id="question-words">Question Words!!</h3>
				<p>Alright, let's move on to our question words series!</p>
				<h4 id="what">Asking What? (&#20160;&#20040;&#65311;)</h4>
				<%= partial(:video, :locals => {:video_link => "IlqAVY3n16I"}) %>
				<h5 id="what-activity">Activity!</h5>
				<p>Rearrange the words below to form two grammatically correct sentences (including proper punctuation placement).</p>
				<%= partial(:rearrange_activity,
							:locals => {
							  :word_order => {"你" => 2, "的" => 3, "猫" => 1, "叫" => 4, "什么" => 0, "名字" => 5, "？" => 6 },
							  :congrats_text => {
								:chinese => "对！",
								:english => "Correct! Now proceed to the next sentence." },
							  :activity_column_size => 7
							}) %>
				<%= partial(:rearrange_activity,
							:locals => {
							  :word_order => {"我哥哥" => 5, "最喜欢" => 0, "的" => 2, "宠物" => 1, "是" => 3, "什么" => 4, "？" => 6 },
							  :congrats_text => {
								:chinese => "对！",
								:english => "Correct! Now you can proceed to the next video." },
							  :activity_column_size => 7
							}) %>
				<h4 id="who">Asking Who? (&#35841;&#65311;)</h4>
				<%= partial(:video, :locals => {:video_link => "b4gnizrWca4"}) %>
				<h5 id="who-activity">Activity!</h5>
				<p>Rearrange the words below to form two grammatically correct sentences (including proper punctuation placement).</p>
				<%= partial(:rearrange_activity,
							:locals => {
							  :word_order => {"你" => 1, "的" => 0, "家" => 2, "有" => 4, "谁" => 3, "？" => 5 },
							  :congrats_text => {
								:chinese => "对！",
								:english => "Correct! Now proceed to the next sentence." },
							  :activity_column_size => 7
							}) %>
				<%= partial(:rearrange_activity,
							:locals => {
							  :word_order => {"谁" => 3, "喜欢" => 0, "坐" => 2, "飞机" => 1, "？" => 4 },
							  :congrats_text => {
								:chinese => "对！",
								:english => "Correct! Now you can proceed to the next video." },
							  :activity_column_size => 7
							}) %>
				<h4 id="zen-me">Asking How? (&#24590;&#20040;&#65311;)</h4>
				<%= partial(:video, :locals => {:video_link => "iw_ePnUF-iY"}) %>
				<h5 id="zen-me-activity">Activity!</h5>
				<p>Rearrange the words below to form two grammatically correct sentences (including proper punctuation placement).</p>
				<%= partial(:rearrange_activity,
							:locals => {
							  :word_order => {"你" => 1, "今天" => 3, "怎么" => 2, "样" => 0, "？" => 4 },
							  :congrats_text => {
								:chinese => "对！",
								:english => "Correct! Now proceed to the next sentence." },
							  :activity_column_size => 7
							}) %>
				<%= partial(:rearrange_activity,
							:locals => {
							  :word_order => {"你" => 4, "妈妈" => 0, "每天" => 2, "怎么" => 1, "上班" => 3, "？" => 5 },
							  :congrats_text => {
								:chinese => "对！",
								:english => "Correct! Now you can proceed to the next video." },
							  :activity_column_size => 7
							}) %>
				<h4 id="when">Asking When? (&#20160;&#20040;&#26102;&#20505;&#65311;&#20960;&#28857;&#65311;)</h4>
				<%= partial(:video, :locals => {:video_link => "eYvzSz3yEHs"}) %>
				<h5 id="when-activity">Activity!</h5>
				<p>Rearrange the words below to form two grammatically correct sentences (including proper punctuation placement).</p>
				<%= partial(:rearrange_activity,
							:locals => {
							  :word_order => {"你" => 1, "后天" => 3, "什么时候" => 2, "回家" => 0, "？" => 4 },
							  :congrats_text => {
								:chinese => "对！",
								:english => "Correct! Now proceed to the next sentence." },
							  :activity_column_size => 7
							}) %>
				<%= partial(:rearrange_activity,
							:locals => {
							  :word_order => {"你" => 3, "每天" => 1, "几点" => 2, "睡觉" => 0, "？" => 4 },
							  :congrats_text => {
								:chinese => "对！",
								:english => "Correct! Now you can proceed to the next video." },
							  :activity_column_size => 7
							}) %>
				<h4 id="where">Asking Where? (&#21738;&#20799;&#65295;&#21738;&#37324;&#65311;)</h4>
				<%= partial(:video, :locals => {:video_link => "PeC_tLyT3kM"}) %>
				<h5 id="where-activity">Activity!</h5>
				<p>Rearrange the words below to form two grammatically correct sentences (including proper punctuation placement).</p>
				<%= partial(:rearrange_activity,
							:locals => {
							  :word_order => {"你" => 1, "在" => 3, "哪里" => 2, "吃" => 0, "午饭" => 4, "？" => 5 },
							  :congrats_text => {
								:chinese => "对！",
								:english => "Correct! Now proceed to the next sentence." },
							  :activity_column_size => 7
							}) %>
				<%= partial(:rearrange_activity,
							:locals => {
							  :word_order => {"你" => 2, "妈妈" => 4, "住" => 3, "在" => 1, "哪儿" => 0, "？" => 5 },
							  :congrats_text => {
								:chinese => "对！",
								:english => "Correct! Now you can proceed to the next video." },
							  :activity_column_size => 7
							}) %>
				<h4 id="why">Asking Why? (&#20026;&#20160;&#20040;&#65311;)</h4>
				<%= partial(:video, :locals => {:video_link => "H5T2QAw-PpY"}) %>
				<h5 id="why-activity">Activity!</h5>
				<p>Rearrange the words below to form two grammatically correct sentences (including proper punctuation placement). The first should be a question, and the second should be its answer.</p>
				<%= partial(:rearrange_activity,
							:locals => {
							  :word_order => {"你" => 1, "为什么" => 3, "喜欢" => 2, "上学" => 0, "？" => 4 },
							  :congrats_text => {
								:chinese => "对！",
								:english => "Correct! Now proceed to the next sentence." },
							  :activity_column_size => 7
							}) %>
				<%= partial(:rearrange_activity,
							:locals => {
							  :word_order => {"因为" => 4, "我" => 3, "很喜欢" => 2, "我的" => 1, "学校" => 0, "！" => 5 },
							  :congrats_text => {
								:chinese => "对！",
								:english => "Correct! Now you can proceed to the next video." },
							  :activity_column_size => 7
							}) %>
				<h4 id="qw-with-mw">Asking Questions That Require Measure Words: How Many? (&#20960;&#65311;) and Which? (&#21738;&#65311;)</h4>
				<%= partial(:video, :locals => {:video_link => "HK2hVJPKB1Y"}) %>
				<h5 id="qw-with-mw-activity">Activity!</h5>
				<p>Rearrange the words below to form two grammatically correct sentences (including proper punctuation placement).</p>
				<%= partial(:rearrange_activity,
							:locals => {
							  :word_order => {"你" => 3, "朋友" => 5, "有" => 1, "几" => 4, "只" => 0, "鸟" => 2, "？" => 6 },
							  :congrats_text => {
								:chinese => "对！",
								:english => "Correct! Now proceed to the next sentence." },
							  :activity_column_size => 7
							}) %>
				<%= partial(:rearrange_activity,
							:locals => {
							  :word_order => {"老师" => 1, "，" => 3, "你" => 2, "是" => 5, "哪" => 0, "国" => 6, "人" => 4, "？" => 7 },
							  :congrats_text => {
								:chinese => "对！",
								:english => "Correct! Now you can proceed to the next video." },
							  :activity_column_size => 7
							}) %>
				<h4 id="ma">Asking Questions Using &#21527;&#65311;</h4>
				<%= partial(:video, :locals => {:video_link => "3-OyYjOEphA"}) %>
				<h5 id="ma-activity">Activity!</h5>
				<p>Rearrange the words below to form two grammatically correct sentences (including proper punctuation placement).</p>
				<%= partial(:rearrange_activity,
							:locals => {
							  :word_order => {"我" => 1, "可以" => 2, "上" => 0, "厕所" => 3, "吗" => 4, "？" => 5 },
							  :congrats_text => {
								:chinese => "对！",
								:english => "Correct! Now proceed to the next sentence." },
							  :activity_column_size => 7
							}) %>
				<%= partial(:rearrange_activity,
							:locals => {
							  :word_order => {"你" => 3, "现在" => 1, "想" => 2, "睡觉" => 4, "吗" => 0, "？" => 5 },
							  :congrats_text => {
								:chinese => "对！",
								:english => "Correct! Now you can proceed to the next video." },
							  :activity_column_size => 7
							}) %>
				<h4 id="opposite-verbs">Asking Questions Using Opposite Verbs</h4>
				<%= partial(:video, :locals => {:video_link => "U9mys2Gasrw"}) %>
				<h5 id="opposite-verbs-activity">Activity!</h5>
				<p>Rearrange the words below to form two grammatically correct sentences (including proper punctuation placement).</p>
				<%= partial(:rearrange_activity,
							:locals => {
							  :word_order => {"你" => 3, "喜欢" => 2, "不喜欢" => 1, "唱歌" => 0, "？" => 4 },
							  :congrats_text => {
								:chinese => "对！",
								:english => "Correct! Now proceed to the next sentence." },
							  :activity_column_size => 7
							}) %>
				<%= partial(:rearrange_activity,
							:locals => {
							  :word_order => {"你" => 5, "的" => 1, "姐姐" => 3, "现在" => 2, "睡觉" => 0, "不睡觉" => 4, "？" => 6 },
							  :congrats_text => {
								:chinese => "对！",
								:english => "Correct! Now you can proceed to the next video." },
							  :activity_column_size => 7
							}) %>
				<h4 id="hai-shi">Asking Questions Using Or (&#36824;&#26159;&#65311;)</h4>
				<%= partial(:video, :locals => {:video_link => "aIXG4u6zXY0"}) %>
				<h5 id="hai-shi-activity">Activity!</h5>
				<p>Rearrange the words below to form two grammatically correct sentences (including proper punctuation placement).</p>
				<%= partial(:rearrange_activity,
							:locals => {
							  :word_order => {"你" => 2, "喜欢" => 1, "开车" => 5, "还是" => 6, "坐" => 3, "爸爸的" => 4, "车" => 0, "？" => 7 },
							  :congrats_text => {
								:chinese => "对！",
								:english => "Correct! Now proceed to the next sentence." },
							  :activity_column_size => 7
							}) %>
				<%= partial(:rearrange_activity,
							:locals => {
							  :word_order => {"你" => 1, "九月" => 8, "的时候" => 4, "坐" => 3, "车" => 2, "还是" => 0, "骑" => 9, "马" => 6, "去" => 7, "欧洲" => 5, "？" => 10 },
							  :congrats_text => {
								:chinese => "对！",
								:english => "Correct! Now you can proceed to the next series of videos." },
							  :activity_column_size => 9
							}) %>
				<h3 id="measure-words">Measure Words!!</h3>
				<p>You're almost done with reviewing Mandarin II! Keep it up!</p>
				<h4 id="intro-mw">Introduction to Measure Words (Explaining &#20010;)</h4>
				<%= partial(:video, :locals => {:video_link => "mrubnOSdHLY"}) %>
				<h5 id="intro-mw-activity">Activity!</h5>
				<p>Rearrange the words below to form two grammatically correct sentences (including proper punctuation placement).</p>
				<%= partial(:rearrange_activity,
							:locals => {
							  :word_order => {"我" => 2, "有" => 4, "三" => 1, "个" => 3, "妹妹" => 0, "。" => 5 },
							  :congrats_text => {
								:chinese => "对！",
								:english => "Correct! Now proceed to the next sentence." },
							  :activity_column_size => 7
							}) %>
				<%= partial(:rearrange_activity,
							:locals => {
							  :word_order => {"你" => 1, "喜欢" => 0, "哪" => 2, "个" => 4, "地方" => 3, "？" => 5 },
							  :congrats_text => {
								:chinese => "对！",
								:english => "Correct! Now you can proceed to the next video." },
							  :activity_column_size => 7
							}) %>
				<h4 id="common-mw">Commonly Used Measure Words (&#21475;&#65292;&#21482;&#65292;&#23478;)</h4>
				<%= partial(:video, :locals => {:video_link => "WA00GfQUdXc"}) %>
				<h5 id="common-mw-activity">Activity!</h5>
				<p>Rearrange the words below to form two grammatically correct sentences (including proper punctuation placement).</p>
				<%= partial(:rearrange_activity,
							:locals => {
							  :word_order => {"你" => 2, "有" => 4, "几" => 1, "只" => 3, "猫" => 0, "？" => 5 },
							  :congrats_text => {
								:chinese => "对！",
								:english => "Correct! Now proceed to the next sentence." },
							  :activity_column_size => 7
							}) %>
				<%= partial(:rearrange_activity,
							:locals => {
							  :word_order => {"我" => 4, "在" => 0, "一" => 2, "家" => 5, "公司" => 3, "工作" => 1, "。" => 6 },
							  :congrats_text => {
								:chinese => "对！",
								:english => "Correct! Now you can proceed to the next video." },
							  :activity_column_size => 7
							}) %>
				<h4 id="nouns-without-mw">Nouns that Don't Use Measure Words (&#22825;&#65292;&#24180;)</h4>
				<%= partial(:video, :locals => {:video_link => "NQlyD22pLRU"}) %>
				<h5 id="nouns-without-mw-activity">Activity!</h5>
				<p>Rearrange the words below to form two grammatically correct sentences (including proper punctuation placement).</p>
				<%= partial(:rearrange_activity,
							:locals => {
							  :word_order => {"你" => 4, "哥哥" => 2, "喜欢" => 1, "哪" => 3, "天" => 0, "？" => 5 },
							  :congrats_text => {
								:chinese => "对！",
								:english => "Correct! Now proceed to the next sentence." },
							  :activity_column_size => 7
							}) %>
				<%= partial(:rearrange_activity,
							:locals => {
							  :word_order => {"这" => 4, "年" => 0, "有" => 2, "五十二" => 5, "个" => 3, "星期" => 1, "。" => 6 },
							  :congrats_text => {
								:chinese => "对！",
								:english => "Correct! Now you can proceed to the next video." },
							  :activity_column_size => 7
							}) %>
				<h3 id="comparisons">Making Comparisons!</h3>
				<p>Just one more video of Mandarin II Review! You got this!</p>
				<h4 id="using-bi">Using &#27604;</h4>
				<%= partial(:video, :locals => {:video_link => "fdkXQa-gkog"}) %>
				<h5 id="using-bi-activity">Activity!</h5>
				<p>Rearrange the words below to form two grammatically correct sentences (including proper punctuation placement). For the first question, you'll need the following information: Xiaoming's little brother is 1.1 meters tall, but Xiaoming is 1.3 meters tall.</p>
				<%= partial(:rearrange_activity,
							:locals => {
							  :word_order => {"小明" => 2, "比" => 3, "他的弟弟" => 1, "高" => 0, "。" => 4 },
							  :congrats_text => {
								:chinese => "对！",
								:english => "Correct! Now proceed to the next sentence." },
							  :activity_column_size => 7
							}) %>
				<%= partial(:rearrange_activity,
							:locals => {
							  :word_order => {"走路" => 2, "比" => 4, "骑马" => 0, "慢" => 1, "吗" => 3, "？" => 5 },
							  :congrats_text => {
								:chinese => "对！",
								:english => "Correct! Guess what?! You're done with Mandarin II Review!!" },
							  :activity_column_size => 7
							}) %>
			</div><!-- /.blog-post -->
		</div><!-- /.blog-main -->

		<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
			<div class="sidebar-module">
				<h4>Table of Contents</h4>
				<ol class="list-unstyled">
					<li><a href="#mii-review">Mandarin II Review</a></li>
						<ol>
							<li><a href="#sentence-structure">Basic Sentence Structure</a></li>
								<ol>
									<li><a href="#svo-sentences">SVO Order</a></li>
								</ol>
							<li><a href="#time-phrases">Time Phrase Series</a></li>
								<ol>
									<li><a href="#basic-time-phrases">Basic Time Phrases</a></li>
									<li><a href="#de-shi-hou">&#30340;&#26102;&#20505;</a></li>
									<li><a href="#yi-hou">&#20197;&#21518;</a></li>
								</ol>
							<li><a href="#more-ways">More On Expressing Time</a></li>
								<ol>
									<li><a href="#sequential-action">Sequential Action</a></li>
									<li><a href="#past-experience">Past Experience</a></li>
								</ol>
							<li><a href="#basic-place">Basic Place Phrases</a></li>
								<ol>
									<li><a href="#place-phrases">Using &#22312;</a></li>
								</ol>
							<li><a href="#question-words">Question Words</a></li>	
								<ol>
									<li><a href="#what">What? (&#20160;&#20040;&#65311;)</a></li>
									<li><a href="#who">Who? (&#35841;&#65311;)</a></li>
									<li><a href="#zen-me">How? (&#24590;&#20040;&#65311;)</a></li>
									<li><a href="#when">When? (&#20160;&#20040;&#26102;&#20505;&#65311;&#20960;&#28857;&#65311;)</a></li>
									<li><a href="#where">Where? (&#21738;&#20799;&#65295;&#21738;&#37324;&#65311;)</a></li>
									<li><a href="#why">Why? (&#20026;&#20160;&#20040;&#65311;)</a></li>
									<li><a href="#qw-with-mw">How Many? (&#20960;&#65311;) and Which? (&#21738;&#65311;)</a></li>
									<li><a href="#ma">Using &#21527;&#65311;</a></li>
									<li><a href="#opposite-verbs">Questions With Opposite Verbs</a></li>
									<li><a href="#hai-shi">Questions Using "Or" (&#36824;&#26159;&#65311;)</a></li>
								</ol>
							<li><a href="#measure-words">Measure Words</a></li>	
								<ol>
									<li><a href="#intro-mw">Introduction</a></li>
									<li><a href="#common-mw">Common MW's</a></li>
									<li><a href="#nouns-without-mw">Nouns Without MW's</a></li>
								</ol>
							<li><a href="#comparisons">Comparisons</a></li>	
								<ol>
									<li><a href="#using-bi">Using &#27604;</a></li>
								</ol>
						</ol>
				</ol>
			</div>
		</div><!-- /.blog-sidebar -->
	</div><!-- /.row -->
</div><!-- /.container -->

<div class="blog-footer">
	<p>Blog template built with <a href="http://getbootstrap.com">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
	<p>
		<a href="#">Back to top</a>
	</p>
</div>