---
title: "Mandarin III"
desc: "The site for Mandarin III Videos at the Miami Valley School"
---

<% content_for :stylesheets do %>
	<%= stylesheet_link_tag "home", "video", "activitystyle" %>
<% end %>

<% content_for :javascripts do %>
	<%= javascript_include_tag "jquery-sortable-min", "interactive" %>
<% end %>

<div class="container">
	<div class="blog-header">
		<h1 class="blog-title">Mandarin III Videos</h1>
		<p class="lead blog-description">Mandarin II Review, Grammar, and Pronunciation Practice</p>
	</div>

	<div class="row">
		<div class="col-sm-8 blog-main">
			<div class="blog-post">
				<h2 id="mii-review" class="blog-post-title">Mandarin II Review Time!</h2>
				<p>So... Remember how Mandarin II was a thing? Check out some of these videos to review some important grammatical structures from last year.</p>
				<hr>
				<h3 id="sentence-structure">Basic Sentence Structure</h3>
				<h4 id="svo-sentences">Sentence Order: Subject-Verb-Object</h4>
				<%= partial(:video, :locals => {:video_link => "Lz3aFlhUYDA"}) %>
				<h5 id="svo-activity">Activity!</h5>
				<p>Rearrange the words below to form a grammatically correct sentence.</p>
				<%= partial(:rearrange_activity,
							:locals => {
							  :word_order => {"我的朋友" => 1, "有" => 0, "妹妹" => 2, "。" => 3 },
							  :congrats_text => {
								:chinese => "对！",
								:english => "Correct! Now you can proceed to the next video." },
							  :activity_column_size => 5
							}) %>
				<h3 id="time-phrases">Time Phrases</h3>
				<h4 id="basic-time-phrases">Basic Time Phrases</h4>
				<%= partial(:video, :locals => {:video_link => "HqkssAFo0Xw"}) %>
				<h5 id="basic-time-activity">Activity!</h5>
				<p>Rearrange the words below to form two grammatically correct sentences (including proper punctuation placement).</p>
				<%= partial(:rearrange_activity,
							:locals => {
							  :word_order => {"每天" => 3, "，" => 1, "我的朋友" => 0, "看电影" => 2, "。" => 4 },
							  :congrats_text => {
								:chinese => "对！",
								:english => "Correct! Now proceed to the next sentence." },
							  :activity_column_size => 7
							}) %>
				<%= partial(:rearrange_activity,
							:locals => {
							  :word_order => {"我的弟弟" => 3, "早上八点" => 1, "坐" => 4, "校车" => 2, "上班" => 0, "。" => 5 },
							  :congrats_text => {
								:chinese => "对！",
								:english => "Correct! Now you can proceed to the next video." },
							  :activity_column_size => 7
							}) %>
				<h4 id="de-shi-hou">Time Phrases using &#30340;&#26102;&#20505;</h4>
				<%= partial(:video, :locals => {:video_link => "woH6XGNw75E"}) %>
				<h5 id="de-shi-hou-activity">Activity!</h5>
				<p>Rearrange the words below to form two grammatically correct sentences (including proper punctuation placement).</p>
				<%= partial(:rearrange_activity,
							:locals => {
							  :word_order => {"我" => 1, "晚上" => 3, "的时候" => 0, "看电视" => 2, "。" => 4 },
							  :congrats_text => {
								:chinese => "对！",
								:english => "Correct! Now proceed to the next sentence." },
							  :activity_column_size => 7
							}) %>
				<%= partial(:rearrange_activity,
							:locals => {
							  :word_order => {"星期五" => 5, "的时候" => 1, "，" => 4, "我的妹妹" => 2, "不喜欢" => 0, "上学" => 3, "。" => 6 },
							  :congrats_text => {
								:chinese => "对！",
								:english => "Correct! Now you can proceed to the next video." },
							  :activity_column_size => 8
							}) %>
				<h4 id="yi-hou">Time Phrases using &#20197;&#21518;</h4>
				<%= partial(:video, :locals => {:video_link => "K0nLprOgbOI"}) %>
				<h5 id="yi-hou-activity">Activity!</h5>
				<p>Rearrange the words below to form two grammatically correct sentences (including proper punctuation placement).</p>
				<%= partial(:rearrange_activity,
							:locals => {
							  :word_order => {"三点" => 1, "以后" => 3, "，" => 0, "我" => 4, "看电影" => 2, "。" => 5 },
							  :congrats_text => {
								:chinese => "对！",
								:english => "Correct! Now proceed to the next sentence." },
							  :activity_column_size => 7
							}) %>
				<%= partial(:rearrange_activity,
							:locals => {
							  :word_order => {"我姐姐" => 3, "放学" => 1, "以后" => 4, "喜欢" => 2, "吃晚饭" => 0, "。" => 5 },
							  :congrats_text => {
								:chinese => "对！",
								:english => "Correct! Now you can proceed to the next video." },
							  :activity_column_size => 7
							}) %>
			</div><!-- /.blog-post -->
		</div><!-- /.blog-main -->

		<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
			<div class="sidebar-module">
				<h4>Table of Contents</h4>
				<ol class="list-unstyled">
					<li><a href="#mii-review">Mandarin II Review</a></li>
						<ol>
							<li><a href="#sentence-structure">Basic Sentence Structure</a></li>
								<ol>
									<li><a href="#svo-sentences">SVO Order</a></li>
								</ol>
							<li><a href="#time-phrases">Time Phrases</a></li>
								<ol>
									<li><a href="#basic-time-phrases">Basic Time Phrases</a></li>
									<li><a href="#de-shi-hou">&#30340;&#26102;&#20505;</a></li>
									<li><a href="#yi-hou">&#20197;&#21518;</a></li>
								</ol>
						</ol>
				</ol>
			</div>
		</div><!-- /.blog-sidebar -->
	</div><!-- /.row -->
</div><!-- /.container -->

<div class="blog-footer">
	<p>Blog template built with <a href="http://getbootstrap.com">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
	<p>
		<a href="#">Back to top</a>
	</p>
</div>