---
title: "Mandarin III"
desc: "The site for Mandarin III Videos at the Miami Valley School"
---

<% content_for :stylesheets do %>
	<%= stylesheet_link_tag "home", "video", "activitystyle", "questions" %>
<% end %>

<% content_for :javascripts do %>
	<%= javascript_include_tag "jquery-sortable-min", "interactive" %>
<% end %>

<div class="container">
	<div class="blog-header">
		<h1 class="blog-title">Mandarin III Videos</h1>
		<p class="lead blog-description">Mandarin II Grammar Review and Mandarin III Listening and Grammar Material</p>
	</div>

	<div class="row">
		<div class="col-sm-8 blog-main">
			<div class="blog-post">
				<h2 id="fm-begin" class="blog-post-title">Flipped Mastery</h2>
				<p>Let's start learning new material! In case you need a review of any material from Mandarin II, click <a href="#mii-review">here</a> or use the <a href="#contents">Table of Contents</a> to navigate to wherever you'd like.</p>
				<hr>
				<h3>Important Links!</h3>
				<p><a href="http://quizlet.com/join/X4XNaWygu">Quizlet</a></p>
				<p><a href="http://mvsmandarin.weebly.com/fall-syllabus.html">高老师's Website</a></p>
				<hr>
				<h3 id="ch-1">Chapter One</h3>
				<p>This chapter is all about colors. This time, we will start with listening practice. Listening videos are designed to help you gain more exposure to spoken Chinese pertaining to the specific topic at hand. You can also use them to help you prepare for the listening mastery. As I explain in the video, feel free to rewatch any part of the video if you need to. You can use the numbers on your keyboard (0 through 9) to jump to different parts of the video. Then, answer the questions below to check your understanding.</p>
				<h4 id="1-L">Chapter One Listening Practice</h4>
				<%= partial(:video, :locals => {:video_link => "Ho8TMDgxPIM"}) %>
				<div class="row question-section">
					<span class="col-md-12">
						<h5 id="1-L-questions">Questions!</h5>
							<p>Each video will include a short multiple choice section after it in which you answer questions in English. Remember, though, that the ones on your listening masteries will be in Chinese!</p>
					</span>
				</div>
				<p>Where is Lanlan’s family from?</p>
				<%= partial(:mc_questions,
							:locals => {
							  :answers => {"China" => true, "Italy" => false, "Japan" => false},
							  :congrats_text => {
								:chinese => "对！",
								:english => "Correct! " },
							  :activity_column_size => 3,
							  :column_indent => 1
							}) %>
				<p>What is Lanlan's favorite color?</p>
				<%= partial(:mc_questions,
							:locals => {
							  :answers => {"Yellow" => false, "Green" => false, "Purple" => true},
							  :congrats_text => {
								:chinese => "对！",
								:english => "Correct! " },
							  :activity_column_size => 3,
							  :column_indent => 1
							}) %>
				<p>How does Lanlan’s dad go to work?</p>
				<%= partial(:mc_questions,
							:locals => {
							  :answers => {"Bike" => false, "A red public bus" => true, "A yellow subway" => false},
							  :congrats_text => {
								:chinese => "对！",
								:english => "Correct! " },
							  :activity_column_size => 11,
							  :column_indent => 1
							}) %>
				<p>Where does Lili work?</p>
				<%= partial(:mc_questions,
							:locals => {
							  :answers => {"A law firm" => false, "A school" => false, "A bank" => true},
							  :congrats_text => {
								:chinese => "对！",
								:english => "Correct! " },
							  :activity_column_size => 3,
							  :column_indent => 1
							}) %>
				<p>Who likes the color white?</p>
				<%= partial(:mc_questions,
							:locals => {
							  :answers => {"Lanlan" => false, "Lanlan's sister" => true, "Lanlan's dad" => false},
							  :congrats_text => {
								:chinese => "对！",
								:english => "Correct! " },
							  :activity_column_size => 3,
							  :column_indent => 1
							}) %>
				<h3 id="ch-2">Chapter Two</h3>
				<p>This chapter is all about clothing. This chapter doesn't introduce any new grammar points that are complex enough to require a video, so, just like Chapter One, we will just have a listening practice video. As we explained last time, listening videos are designed to help you gain more exposure to spoken Chinese pertaining to the specific topic at hand. You can also use them to help you prepare for the listening mastery. Remember that you can always rewatch any part of the video if you need to. You can use the numbers on your keyboard (0 through 9) to jump to different parts of the video. Then, answer the questions below to check your understanding.</p>
				<h4 id="2-L">Chapter Two Listening Practice</h4>
				<%= partial(:video, :locals => {:video_link => "tKI-0LGnMC0"}) %>
				<div class="row question-section">
					<span class="col-md-12">
						<h5 id="2-L-questions">Questions!</h5>
							<p>Here's a short multiple choice section so that you can check your understanding. Remember, though, that the ones on your listening masteries will be in Chinese!</p>
					</span>
				</div>
				<p>What color does Dawei like besides green?</p>
				<%= partial(:mc_questions,
							:locals => {
							  :answers => {"Gray" => true, "Black" => false, "Blue" => false},
							  :congrats_text => {
								:chinese => "对！",
								:english => "Correct! " },
							  :activity_column_size => 3,
							  :column_indent => 1
							}) %>
				<p>How frequently does Dawei wear shorts?</p>
				<%= partial(:mc_questions,
							:locals => {
							  :answers => {"Never" => false, "Daily" => true, "Only on weekends" => false},
							  :congrats_text => {
								:chinese => "对！",
								:english => "Correct! " },
							  :activity_column_size => 8,
							  :column_indent => 1
							}) %>
				<p>Which of the following article of clothing is worn by the member of Dawei’s family who does not have a job?</p>
				<%= partial(:mc_questions,
							:locals => {
							  :answers => {"Dresses" => false, "Striped clothing" => false, "Sweaters" => true},
							  :congrats_text => {
								:chinese => "对！",
								:english => "Correct! " },
							  :activity_column_size => 8,
							  :column_indent => 1
							}) %>
				<p>Who wears a blue coat every day at school?</p>
				<%= partial(:mc_questions,
							:locals => {
							  :answers => {"Dawei's dad" => true, "Dawei" => false, "Xiaoming (Dawei's older brother)" => false},
							  :congrats_text => {
								:chinese => "对！",
								:english => "Correct! " },
							  :activity_column_size => 8,
							  :column_indent => 1
							}) %>
				<p>What color are the leather shoes Xiaoming likes to wear?</p>
				<%= partial(:mc_questions,
							:locals => {
							  :answers => {"Black" => true, "Red" => false, "Brown" => false},
							  :congrats_text => {
								:chinese => "对！",
								:english => "Correct! " },
							  :activity_column_size => 3,
							  :column_indent => 1
							}) %>
				<h3 id="ch-3">Chapter Three</h3>
				<p>This chapter is a continuation of Chapter Two, so we're keeping the same topic of articles of clothing. For this chapter, we're going to have a listening video and two grammar videos.</p>
				<h4 id="3-L">Chapter Three Listening Practice</h4>
				<%= partial(:video, :locals => {:video_link => "mpDsf2bLln8"}) %>
				<div class="row question-section">
					<span class="col-md-12">
						<h5 id="3-L-questions">Questions!</h5>
							<p>Here's a short multiple choice section so that you can check your understanding. Remember, though, that the ones on your listening masteries will be in Chinese!</p>
					</span>
				</div>
				<p>What color is Zhangwei's tie?</p>
				<%= partial(:mc_questions,
							:locals => {
							  :answers => {"Gray" => false, "Green" => true, "Blue" => false},
							  :congrats_text => {
								:chinese => "对！",
								:english => "Correct! " },
							  :activity_column_size => 3,
							  :column_indent => 1
							}) %>
				<p>When does Zhangwei wear jeans?</p>
				<%= partial(:mc_questions,
							:locals => {
							  :answers => {"Never" => false, "Daily" => false, "After work" => true},
							  :congrats_text => {
								:chinese => "对！",
								:english => "Correct! " },
							  :activity_column_size => 5,
							  :column_indent => 1
							}) %>
				<p>One member of Xiaoming's family is a banker. What color are the clothes she or he likes wearing at work?</p>
				<%= partial(:mc_questions,
							:locals => {
							  :answers => {"Brown" => false, "Orange" => false, "Purple" => true},
							  :congrats_text => {
								:chinese => "对！",
								:english => "Correct! " },
							  :activity_column_size => 6,
							  :column_indent => 1
							}) %>
				<p>When does Meihui play tennis?</p>
				<%= partial(:mc_questions,
							:locals => {
							  :answers => {"After work" => false, "Every day" => false, "On weekends" => true},
							  :congrats_text => {
								:chinese => "对！",
								:english => "Correct! " },
							  :activity_column_size => 7,
							  :column_indent => 1
							}) %>
				<p>Who likes wearing brown pants?</p>
				<%= partial(:mc_questions,
							:locals => {
							  :answers => {"Xiaoming" => true, "Zhangwei" => false, "Meihui" => false},
							  :congrats_text => {
								:chinese => "对！",
								:english => "Correct! " },
							  :activity_column_size => 3,
							  :column_indent => 1
							}) %>
				<h4 id="le-completed-action">Chapter Three Grammar: Completed Action Using 了</h4>
				<%= partial(:video, :locals => {:video_link => "52L5tHWpE7c"}) %>
				<h5 id="le-completed-action-activity">Activity!</h5>
				<p>Rearrange the words below to form two grammatically correct sentences (including proper punctuation placement). Remember that the word 了 can go in two different places! Put the 了 after the verb in the first sentence, but after the phrase containing the action in the second.</p>
				<%= partial(:rearrange_activity,
							:locals => {
							  :word_order => {"今天早上，" => 3, "我的朋友" => 1, "看" => 4, "了" => 2, "电影" => 0, "。" => 5 },
							  :congrats_text => {
								:chinese => "对！",
								:english => "Correct! Now proceed to the next sentence." },
							  :activity_column_size => 7
							}) %>
				<%= partial(:rearrange_activity,
							:locals => {
							  :word_order => {"我的朋友" => 2, "昨天" => 4, "看" => 1, "书" => 3, "了" => 0, "。" => 5 },
							  :congrats_text => {
								:chinese => "对！",
								:english => "Correct!" },
							  :activity_column_size => 7
							}) %>
				<h4 id="lack-past-action">Chapter Three Grammar: Lack of Past Action</h4>
				<%= partial(:video, :locals => {:video_link => "wWqKO8vUVjI"}) %>
				<h5 id="lack-past-action-activity">Activity!</h5>
				<p>Rearrange the words below to form two grammatically correct sentences (including proper punctuation placement).</p>
				<%= partial(:rearrange_activity,
							:locals => {
							  :word_order => {"我" => 1, "昨天" => 2, "没有" => 4, "吃" => 3, "早饭" => 0, "。" => 5 },
							  :congrats_text => {
								:chinese => "对！",
								:english => "Correct! Now proceed to the next sentence." },
							  :activity_column_size => 7
							}) %>
				<%= partial(:rearrange_activity,
							:locals => {
							  :word_order => {"今天，" => 4, "我" => 2, "没有" => 1, "穿" => 0, "帽子" => 3, "。" => 5 },
							  :congrats_text => {
								:chinese => "对！",
								:english => "Correct!" },
							  :activity_column_size => 7
							}) %>
			<h3 id="ch-4-5">Chapter Four/Five</h3>
				<p>Chapters four and five have been merged, since they are both about weather! This time, we're going to have a listening video and two grammar videos.</p>
				<h4 id="4-5-L">Chapter Four/Five Listening Practice</h4>
				<%= partial(:video, :locals => {:video_link => "yBxPeq2MjXA"}) %>
				<div class="row question-section">
					<span class="col-md-12">
						<h5 id="4-5-L-questions">Questions!</h5>
							<p>Here's a short multiple choice section so that you can check your understanding. Remember, though, that the ones on your listening masteries will be in Chinese!</p>
					</span>
				</div>
				<p>What does Miss Li think of the weather where she lives?</p>
				<%= partial(:mc_questions,
							:locals => {
							  :answers => {"It's the best" => true, "It's awful" => false, "It's okay" => false},
							  :congrats_text => {
								:chinese => "对！",
								:english => "Correct! " },
							  :activity_column_size => 3,
							  :column_indent => 1
							}) %>
				<p>What was the weather in Beijing like last night?</p>
				<%= partial(:mc_questions,
							:locals => {
							  :answers => {"Snowy" => false, "Windy" => false, "Thunderstorms" => true},
							  :congrats_text => {
								:chinese => "对！",
								:english => "Correct! " },
							  :activity_column_size => 5,
							  :column_indent => 1
							}) %>
				<p>Tomorrow at noon, what will be the temperature?</p>
				<%= partial(:mc_questions,
							:locals => {
							  :answers => {"15-18 degrees" => false, "Around 10 degrees" => true, "Below zero" => false},
							  :congrats_text => {
								:chinese => "对！",
								:english => "Correct! " },
							  :activity_column_size => 6,
							  :column_indent => 1
							}) %>
				<p>Why does Miss Li want to wear her purple coat tomorrow?</p>
				<%= partial(:mc_questions,
							:locals => {
							  :answers => {"It could rain at noon" => true, "She wears one every day" => false, "Purple is her favorite color" => false},
							  :congrats_text => {
								:chinese => "对！",
								:english => "Correct! " },
							  :activity_column_size => 8,
							  :column_indent => 1
							}) %>
				<p>What is the weather like in France in the winter?</p>
				<%= partial(:mc_questions,
							:locals => {
							  :answers => {"Cold and snowy" => true, "Stormy every day" => false, "Windy and cloudy" => false},
							  :congrats_text => {
								:chinese => "对！",
								:english => "Correct!" },
							  :activity_column_size => 5,
							  :column_indent => 1
							}) %>
				<h4 id="hui-yao">Chapter Four/Five Grammar: Using 会 and 要</h4>
				<%= partial(:video, :locals => {:video_link => "fhLpVy8gPaQ"}) %>
				<h5 id="hui-yao-activity">Activity!</h5>
				<p>Rearrange the words below to form two grammatically correct sentences (including proper punctuation placement). The first sentence should indicate the possibility of a weather pattern, while the second should indicate a definite weather pattern.</p>
				<%= partial(:rearrange_activity,
							:locals => {
							  :word_order => {"明天" => 3, "早上" => 1, "会" => 2, "下雨" => 0, "。" => 4 },
							  :congrats_text => {
								:chinese => "对！",
								:english => "Correct! Now proceed to the next sentence." },
							  :activity_column_size => 7
							}) %>
				<%= partial(:rearrange_activity,
							:locals => {
							  :word_order => {"我的爸爸" => 3, "说" => 4, "星期二" => 1, "要" => 2, "打雷" => 0, "。" => 5 },
							  :congrats_text => {
								:chinese => "对！",
								:english => "Correct! Now proceed to the next grammar video." },
							  :activity_column_size => 7
							}) %>
				<h4 id="you-you">Chapter Four/Five Grammar: Using 又。。。又。。。</h4>
				<%= partial(:video, :locals => {:video_link => "aoWnT0svQzg"}) %>
				<h5 id="you-you-activity">Activity!</h5>
				<p>Rearrange the words below to form two grammatically correct sentences (including proper punctuation placement). In the first sentence, introduce the speed of the plane before its size. In the second sentence, talk about the snow before the wind.</p>
				<%= partial(:rearrange_activity,
							:locals => {
							  :word_order => {"飞机" => 2, "又" => 1, "快" => 0, "又    大" => 3, "。" => 4 },
							  :congrats_text => {
								:chinese => "对！",
								:english => "Correct! Now proceed to the next sentence." },
							  :activity_column_size => 7
							}) %>
				<%= partial(:rearrange_activity,
							:locals => {
							  :word_order => {"冬天" => 2, "的" => 1, "天气" => 0, "又" => 4, "下雪" => 3, "又    刮风" => 5, "。" => 6 },
							  :congrats_text => {
								:chinese => "对！",
								:english => "Correct!" },
							  :activity_column_size => 7
							}) %>
			<h3 id="ch-6-7">Chapter Six/Seven</h3>
				<p>Chapters six and seven have been merged, since they are both about vacations! This time, we're going to have a listening video and two grammar videos.</p>
				<h4 id="6-7-L">Chapter Six/Seven Listening Practice</h4>
				<%= partial(:video, :locals => {:video_link => "LAn72jVPjlQ"}) %>
				<div class="row question-section">
					<span class="col-md-12">
						<h5 id="6-7-L-questions">Questions!</h5>
							<p>Here's a short multiple choice section so that you can check your understanding. Remember, though, that the ones on your listening masteries will be in Chinese!</p>
					</span>
				</div>
				<p>Where is Zhang Laoshi staying for her summer vacation?</p>
				<%= partial(:mc_questions,
							:locals => {
							  :answers => {"Beijing" => false, "London" => false, "America" => true},
							  :congrats_text => {
								:chinese => "对！",
								:english => "Correct! " },
							  :activity_column_size => 3,
							  :column_indent => 1
							}) %>
				<p>What does Zhang Laoshi like to do the most in the summer?</p>
				<%= partial(:mc_questions,
							:locals => {
							  :answers => {"Sunbathe" => true, "Swim" => false, "Read books" => false},
							  :congrats_text => {
								:chinese => "对！",
								:english => "Correct! " },
							  :activity_column_size => 5,
							  :column_indent => 1
							}) %>
				<p>How many books has Zhang Laoshi already read?</p>
				<%= partial(:mc_questions,
							:locals => {
							  :answers => {"Fourteen" => false, "Four" => true, "One" => false},
							  :congrats_text => {
								:chinese => "对！",
								:english => "Correct! " },
							  :activity_column_size => 6,
							  :column_indent => 1
							}) %>
				<p>When is Zhang Laoshi going to Canada with her family?</p>
				<%= partial(:mc_questions,
							:locals => {
							  :answers => {"Next December" => true, "Next February" => false, "During the summer" => false},
							  :congrats_text => {
								:chinese => "对！",
								:english => "Correct! " },
							  :activity_column_size => 8,
							  :column_indent => 1
							}) %>
				<p>Who likes ice skating?</p>
				<%= partial(:mc_questions,
							:locals => {
							  :answers => {"Zhang Laoshi's sister" => false, "Zhang Laoshi's parents" => true, "Zhang Laoshi" => false},
							  :congrats_text => {
								:chinese => "对！",
								:english => "Correct!" },
							  :activity_column_size => 5,
							  :column_indent => 1
							}) %>
				<h4 id="shi-de">Using 是。。。的</h4>
				<%= partial(:video, :locals => {:video_link => "z26J-cSyxYc"}) %>
				<h5 id="shi-de-activity">Activity!</h5>
				<p>Rearrange the words below to form two grammatically correct sentences (including proper punctuation placement): one question and one answer. Pretend that we have already established a topic: your trip to France.</p>
				<%= partial(:rearrange_activity,
							:locals => {
							  :word_order => {"你" => 3, "是" => 0, "在法国" => 6, "做" => 2, "什么" => 5, "的" => 1, "？" => 7 },
							  :congrats_text => {
								:chinese => "对！",
								:english => "Correct! Now proceed to the next sentence." },
							  :activity_column_size => 7
							}) %>
				<%= partial(:rearrange_activity,
							:locals => {
							  :word_order => {"我" => 3, "是" => 4, "看" => 1, "好多" => 2, "书" => 0, "。" => 5 },
							  :congrats_text => {
								:chinese => "对！",
								:english => "Correct! Now proceed to the next grammar video." },
							  :activity_column_size => 7
							}) %>
				<h4 id="verb-obj">Verb-Object Phrases</h4>
				<%= partial(:video, :locals => {:video_link => "fYI2GTFHXjI"}) %>
				<p>If you need more review of how to use 了 for completed action, click <a href="#le-completed-action">here</a>.</p>
				<h5 id="verb-obj-activity">Activity!</h5>
				<p>Rearrange the words below to form two grammatically correct sentences (including proper punctuation placement). Both of them split verb-object phrases.</p>
				<%= partial(:rearrange_activity,
							:locals => {
							  :word_order => {"你" => 4, "看" => 0, "三" => 3, "本" => 2, "书" => 1, "。" => 5 },
							  :congrats_text => {
								:chinese => "对！",
								:english => "Correct! Now proceed to the next sentence." },
							  :activity_column_size => 7
							}) %>
				<%= partial(:rearrange_activity,
							:locals => {
							  :word_order => {"睡" => 2, "一个" => 1, "好" => 0, "觉" => 3, "！" => 4 },
							  :congrats_text => {
								:chinese => "对！",
								:english => "Correct! Now proceed to the next grammar video." },
							  :activity_column_size => 7
							}) %>
			</div>
			<div class="blog-post">
				<h2 id="mii-review" class="blog-post-title">Mandarin II Review Time!</h2>
				<p>So... Remember how Mandarin II was a thing? Check out some of these videos to review some important grammatical structures from last year.</p>
				<hr>
				<h3 id="sentence-structure">Basic Sentence Structure</h3>
				<p>Alright! So we have lots to go over. But let's start off with the basics.</p>
				<h4 id="svo-sentences">Sentence Order: Subject-Verb-Object</h4>
				<%= partial(:video, :locals => {:video_link => "Lz3aFlhUYDA"}) %>
				<h5 id="svo-activity">Activity!</h5>
				<p>Rearrange the words below to form a grammatically correct sentence.</p>
				<%= partial(:rearrange_activity,
							:locals => {
							  :word_order => {"我的朋友" => 1, "有" => 0, "妹妹" => 2, "。" => 3 },
							  :congrats_text => {
								:chinese => "对！",
								:english => "Correct! Now you can proceed to the next video." },
							  :activity_column_size => 5
							}) %>
				<h3 id="time-phrases">Time Phrases</h3>
				<p> Now that you have basic sentence order down, let's check out how to talk about time phrases! This is our first series of videos that go together.</p>
				<h4 id="basic-time-phrases">Basic Time Phrases</h4>
				<%= partial(:video, :locals => {:video_link => "HqkssAFo0Xw"}) %>
				<h5 id="basic-time-activity">Activity!</h5>
				<p>Rearrange the words below to form two grammatically correct sentences (including proper punctuation placement).</p>
				<%= partial(:rearrange_activity,
							:locals => {
							  :word_order => {"每天" => 3, "，" => 1, "我的朋友" => 0, "看电影" => 2, "。" => 4 },
							  :congrats_text => {
								:chinese => "对！",
								:english => "Correct! Now proceed to the next sentence." },
							  :activity_column_size => 7
							}) %>
				<%= partial(:rearrange_activity,
							:locals => {
							  :word_order => {"我的弟弟" => 3, "早上八点" => 1, "坐" => 4, "校车" => 2, "上班" => 0, "。" => 5 },
							  :congrats_text => {
								:chinese => "对！",
								:english => "Correct! Now you can proceed to the next video." },
							  :activity_column_size => 7
							}) %>
				<h4 id="de-shi-hou">Time Phrases using &#30340;&#26102;&#20505;</h4>
				<%= partial(:video, :locals => {:video_link => "woH6XGNw75E"}) %>
				<h5 id="de-shi-hou-activity">Activity!</h5>
				<p>Rearrange the words below to form two grammatically correct sentences (including proper punctuation placement).</p>
				<%= partial(:rearrange_activity,
							:locals => {
							  :word_order => {"我" => 1, "晚上" => 3, "的时候" => 0, "看电视" => 2, "。" => 4 },
							  :congrats_text => {
								:chinese => "对！",
								:english => "Correct! Now proceed to the next sentence." },
							  :activity_column_size => 7
							}) %>
				<%= partial(:rearrange_activity,
							:locals => {
							  :word_order => {"星期五" => 5, "的时候" => 1, "，" => 4, "我的妹妹" => 2, "不喜欢" => 0, "上学" => 3, "。" => 6 },
							  :congrats_text => {
								:chinese => "对！",
								:english => "Correct! Now you can proceed to the next video." },
							  :activity_column_size => 8
							}) %>
				<h4 id="yi-hou">Time Phrases using &#20197;&#21518;</h4>
				<%= partial(:video, :locals => {:video_link => "K0nLprOgbOI"}) %>
				<h5 id="yi-hou-activity">Activity!</h5>
				<p>Rearrange the words below to form two grammatically correct sentences (including proper punctuation placement).</p>
				<%= partial(:rearrange_activity,
							:locals => {
							  :word_order => {"三点" => 1, "以后" => 3, "，" => 0, "我" => 4, "看电影" => 2, "。" => 5 },
							  :congrats_text => {
								:chinese => "对！",
								:english => "Correct! Now proceed to the next sentence." },
							  :activity_column_size => 7
							}) %>
				<%= partial(:rearrange_activity,
							:locals => {
							  :word_order => {"我姐姐" => 3, "放学" => 1, "以后" => 4, "喜欢" => 2, "吃晚饭" => 0, "。" => 5 },
							  :congrats_text => {
								:chinese => "对！",
								:english => "Correct! Now you can proceed to the next series." },
							  :activity_column_size => 7
							}) %>
				<h3 id="more-ways">More Ways to Express Time</h3>
				<p>You're done reviewing basic time phrases! Hoorah! There are two other special ways to explain when something happens that you need to review. Let's go! :)</p>
				<h4 id="sequential-action">Sequential Action using &#20808;&#12290;&#12290;&#12290;&#28982;&#21518;</h4>
				<%= partial(:video, :locals => {:video_link => "_zzyhkgb8a4"}) %>
				<h5 id="sequential-action-activity">Activity!</h5>
				<p>This is &#33673;&#33673;'s schedule: 7:00am- Wake up, 7:30am- Go to school, 3:00pm- Return home, 4:00pm: Do homework, 7:00pm: Read, 8:00pm: Sleep. Rearrange the words below to form a grammatically correct sentence about her schedule (including proper punctuation placement).</p>
				<%= partial(:rearrange_activity,
							:locals => {
							  :word_order => {"莉莉" => 5, "先" => 3, "做作业" => 0, "，" => 4, "然后" => 2, "看书" => 1, "。" => 6 },
							  :congrats_text => {
								:chinese => "对！",
								:english => "Correct! Now proceed to the next video!" },
							  :activity_column_size => 7
							}) %>
				<h4 id="past-experience">Past Experience using &#36807;</h4>
				<%= partial(:video, :locals => {:video_link => "VX_K0dtNemI"}) %>
				<h5 id="past-experience-activity">Activity!</h5>
				<p>Rearrange the words below to form a grammatically correct sentence (including proper punctuation placement).</p>
				<%= partial(:rearrange_activity,
							:locals => {
							  :word_order => {"我" => 1, "今年" => 2, "去" => 0, "过" => 4, "中国" => 3, "。" => 5 },
							  :congrats_text => {
								:chinese => "对！",
								:english => "Correct! Now proceed to the next video!" },
							  :activity_column_size => 7
							}) %>
				<h3 id="basic-place">Basic Place Phrases</h3>
				<p>Great work so far! Check out this next video to learn about place phrases!</p>
				<h4 id="place-phrases">Place Phrases using &#22312;</h4>
				<%= partial(:video, :locals => {:video_link => "v0aYsfjgl24"}) %>
				<h5 id="place-phrases-activity">Activity!</h5>
				<p>Rearrange the words below to form two grammatically correct sentences (including proper punctuation placement).</p>
				<%= partial(:rearrange_activity,
							:locals => {
							  :word_order => {"在" => 2, "家" => 3, "，" => 1, "我" => 4, "吃早饭" => 0, "。" => 5 },
							  :congrats_text => {
								:chinese => "对！",
								:english => "Correct! Now proceed to the next sentence." },
							  :activity_column_size => 7
							}) %>
				<%= partial(:rearrange_activity,
							:locals => {
							  :word_order => {"我哥哥" => 3, "在家" => 1, "玩儿" => 4, "电脑游戏" => 0, "。" => 5 },
							  :congrats_text => {
								:chinese => "对！",
								:english => "Correct! Now you can proceed to the next series." },
							  :activity_column_size => 7
							}) %>
				<h3 id="question-words">Question Words!!</h3>
				<p>Alright, let's move on to our question words series! Since language builds as you learn it, this series will require quite a bit of previous grammar we’ve learned. Feel free to go back and rewatch old videos whenever you need to (or just feel like it)!</p>
				<h4 id="what">Asking What? (&#20160;&#20040;&#65311;)</h4>
				<%= partial(:video, :locals => {:video_link => "IlqAVY3n16I"}) %>
				<h5 id="what-activity">Activity!</h5>
				<p>Rearrange the words below to form two grammatically correct sentences (including proper punctuation placement).</p>
				<%= partial(:rearrange_activity,
							:locals => {
							  :word_order => {"你" => 2, "的" => 3, "猫" => 1, "叫" => 4, "什么" => 0, "名字" => 5, "？" => 6 },
							  :congrats_text => {
								:chinese => "对！",
								:english => "Correct! Now proceed to the next sentence." },
							  :activity_column_size => 7
							}) %>
				<%= partial(:rearrange_activity,
							:locals => {
							  :word_order => {"我哥哥" => 5, "最喜欢" => 0, "的" => 2, "宠物" => 1, "是" => 3, "什么" => 4, "？" => 6 },
							  :congrats_text => {
								:chinese => "对！",
								:english => "Correct! Now you can proceed to the next video." },
							  :activity_column_size => 7
							}) %>
				<h4 id="who">Asking Who? (&#35841;&#65311;)</h4>
				<%= partial(:video, :locals => {:video_link => "b4gnizrWca4"}) %>
				<h5 id="who-activity">Activity!</h5>
				<p>Rearrange the words below to form two grammatically correct sentences (including proper punctuation placement).</p>
				<%= partial(:rearrange_activity,
							:locals => {
							  :word_order => {"你" => 1, "的" => 0, "家" => 2, "有" => 4, "谁" => 3, "？" => 5 },
							  :congrats_text => {
								:chinese => "对！",
								:english => "Correct! Now proceed to the next sentence." },
							  :activity_column_size => 7
							}) %>
				<%= partial(:rearrange_activity,
							:locals => {
							  :word_order => {"谁" => 3, "喜欢" => 0, "坐" => 2, "飞机" => 1, "？" => 4 },
							  :congrats_text => {
								:chinese => "对！",
								:english => "Correct! Now you can proceed to the next video." },
							  :activity_column_size => 7
							}) %>
				<h4 id="zen-me">Asking How? (&#24590;&#20040;&#65311;)</h4>
				<%= partial(:video, :locals => {:video_link => "iw_ePnUF-iY"}) %>
				<h5 id="zen-me-activity">Activity!</h5>
				<p>Rearrange the words below to form two grammatically correct sentences (including proper punctuation placement).</p>
				<%= partial(:rearrange_activity,
							:locals => {
							  :word_order => {"你" => 1, "今天" => 3, "怎么" => 2, "样" => 0, "？" => 4 },
							  :congrats_text => {
								:chinese => "对！",
								:english => "Correct! Now proceed to the next sentence." },
							  :activity_column_size => 7
							}) %>
				<%= partial(:rearrange_activity,
							:locals => {
							  :word_order => {"你" => 4, "妈妈" => 0, "每天" => 2, "怎么" => 1, "上班" => 3, "？" => 5 },
							  :congrats_text => {
								:chinese => "对！",
								:english => "Correct! Now you can proceed to the next video." },
							  :activity_column_size => 7
							}) %>
				<h4 id="when">Asking When? (&#20160;&#20040;&#26102;&#20505;&#65311;&#20960;&#28857;&#65311;)</h4>
				<%= partial(:video, :locals => {:video_link => "eYvzSz3yEHs"}) %>
				<h5 id="when-activity">Activity!</h5>
				<p>Rearrange the words below to form two grammatically correct sentences (including proper punctuation placement).</p>
				<%= partial(:rearrange_activity,
							:locals => {
							  :word_order => {"你" => 1, "后天" => 3, "什么时候" => 2, "回家" => 0, "？" => 4 },
							  :congrats_text => {
								:chinese => "对！",
								:english => "Correct! Now proceed to the next sentence." },
							  :activity_column_size => 7
							}) %>
				<%= partial(:rearrange_activity,
							:locals => {
							  :word_order => {"你" => 3, "每天" => 1, "几点" => 2, "睡觉" => 0, "？" => 4 },
							  :congrats_text => {
								:chinese => "对！",
								:english => "Correct! Now you can proceed to the next video." },
							  :activity_column_size => 7
							}) %>
				<h4 id="where">Asking Where? (&#21738;&#20799;&#65295;&#21738;&#37324;&#65311;)</h4>
				<%= partial(:video, :locals => {:video_link => "PeC_tLyT3kM"}) %>
				<h5 id="where-activity">Activity!</h5>
				<p>Rearrange the words below to form two grammatically correct sentences (including proper punctuation placement).</p>
				<%= partial(:rearrange_activity,
							:locals => {
							  :word_order => {"你" => 1, "在" => 3, "哪里" => 2, "吃" => 0, "午饭" => 4, "？" => 5 },
							  :congrats_text => {
								:chinese => "对！",
								:english => "Correct! Now proceed to the next sentence." },
							  :activity_column_size => 7
							}) %>
				<%= partial(:rearrange_activity,
							:locals => {
							  :word_order => {"你" => 2, "妈妈" => 4, "住" => 3, "在" => 1, "哪儿" => 0, "？" => 5 },
							  :congrats_text => {
								:chinese => "对！",
								:english => "Correct! Now you can proceed to the next video." },
							  :activity_column_size => 7
							}) %>
				<h4 id="why">Asking Why? (&#20026;&#20160;&#20040;&#65311;)</h4>
				<%= partial(:video, :locals => {:video_link => "H5T2QAw-PpY"}) %>
				<h5 id="why-activity">Activity!</h5>
				<p>Rearrange the words below to form two grammatically correct sentences (including proper punctuation placement). The first should be a question, and the second should be its answer.</p>
				<%= partial(:rearrange_activity,
							:locals => {
							  :word_order => {"你" => 1, "为什么" => 3, "喜欢" => 2, "上学" => 0, "？" => 4 },
							  :congrats_text => {
								:chinese => "对！",
								:english => "Correct! Now proceed to the next sentence." },
							  :activity_column_size => 7
							}) %>
				<%= partial(:rearrange_activity,
							:locals => {
							  :word_order => {"因为" => 4, "我" => 3, "很喜欢" => 2, "我的" => 1, "学校" => 0, "！" => 5 },
							  :congrats_text => {
								:chinese => "对！",
								:english => "Correct! Now you can proceed to the next video." },
							  :activity_column_size => 7
							}) %>
				<h4 id="qw-with-mw">Asking Questions That Require Measure Words: How Many? (&#20960;&#65311;) and Which? (&#21738;&#65311;)</h4>
				<%= partial(:video, :locals => {:video_link => "HK2hVJPKB1Y"}) %>
				<h5 id="qw-with-mw-activity">Activity!</h5>
				<p>Rearrange the words below to form two grammatically correct sentences (including proper punctuation placement).</p>
				<%= partial(:rearrange_activity,
							:locals => {
							  :word_order => {"你" => 3, "朋友" => 5, "有" => 1, "几" => 4, "只" => 0, "鸟" => 2, "？" => 6 },
							  :congrats_text => {
								:chinese => "对！",
								:english => "Correct! Now proceed to the next sentence." },
							  :activity_column_size => 7
							}) %>
				<%= partial(:rearrange_activity,
							:locals => {
							  :word_order => {"老师" => 1, "，" => 3, "你" => 2, "是" => 5, "哪" => 0, "国" => 6, "人" => 4, "？" => 7 },
							  :congrats_text => {
								:chinese => "对！",
								:english => "Correct! Now you can proceed to the next video." },
							  :activity_column_size => 7
							}) %>
				<h4 id="ma">Asking Questions Using &#21527;&#65311;</h4>
				<%= partial(:video, :locals => {:video_link => "3-OyYjOEphA"}) %>
				<h5 id="ma-activity">Activity!</h5>
				<p>Rearrange the words below to form two grammatically correct sentences (including proper punctuation placement).</p>
				<%= partial(:rearrange_activity,
							:locals => {
							  :word_order => {"我" => 1, "可以" => 2, "上" => 0, "厕所" => 3, "吗" => 4, "？" => 5 },
							  :congrats_text => {
								:chinese => "对！",
								:english => "Correct! Now proceed to the next sentence." },
							  :activity_column_size => 7
							}) %>
				<%= partial(:rearrange_activity,
							:locals => {
							  :word_order => {"你" => 3, "现在" => 1, "想" => 2, "睡觉" => 4, "吗" => 0, "？" => 5 },
							  :congrats_text => {
								:chinese => "对！",
								:english => "Correct! Now you can proceed to the next video." },
							  :activity_column_size => 7
							}) %>
				<h4 id="opposite-verbs">Asking Questions Using Opposite Verbs</h4>
				<%= partial(:video, :locals => {:video_link => "U9mys2Gasrw"}) %>
				<h5 id="opposite-verbs-activity">Activity!</h5>
				<p>Rearrange the words below to form two grammatically correct sentences (including proper punctuation placement).</p>
				<%= partial(:rearrange_activity,
							:locals => {
							  :word_order => {"你" => 3, "喜欢" => 2, "不喜欢" => 1, "唱歌" => 0, "？" => 4 },
							  :congrats_text => {
								:chinese => "对！",
								:english => "Correct! Now proceed to the next sentence." },
							  :activity_column_size => 7
							}) %>
				<%= partial(:rearrange_activity,
							:locals => {
							  :word_order => {"你" => 5, "的" => 1, "姐姐" => 3, "现在" => 2, "睡觉" => 0, "不睡觉" => 4, "？" => 6 },
							  :congrats_text => {
								:chinese => "对！",
								:english => "Correct! Now you can proceed to the next video." },
							  :activity_column_size => 7
							}) %>
				<h4 id="hai-shi">Asking Questions Using Or (&#36824;&#26159;&#65311;)</h4>
				<%= partial(:video, :locals => {:video_link => "aIXG4u6zXY0"}) %>
				<h5 id="hai-shi-activity">Activity!</h5>
				<p>Rearrange the words below to form two grammatically correct sentences (including proper punctuation placement).</p>
				<%= partial(:rearrange_activity,
							:locals => {
							  :word_order => {"你" => 2, "喜欢" => 1, "开车" => 5, "还是" => 6, "坐" => 3, "爸爸的" => 4, "车" => 0, "？" => 7 },
							  :congrats_text => {
								:chinese => "对！",
								:english => "Correct! Now proceed to the next sentence." },
							  :activity_column_size => 7
							}) %>
				<%= partial(:rearrange_activity,
							:locals => {
							  :word_order => {"你" => 1, "九月" => 8, "的时候" => 4, "坐" => 3, "车" => 2, "还是" => 0, "骑" => 9, "马" => 6, "去" => 7, "欧洲" => 5, "？" => 10 },
							  :congrats_text => {
								:chinese => "对！",
								:english => "Correct! Now you can proceed to the next series of videos." },
							  :activity_column_size => 9
							}) %>
				<h3 id="measure-words">Measure Words!!</h3>
				<p>You're almost done with reviewing Mandarin II! Keep it up!</p>
				<h4 id="intro-mw">Introduction to Measure Words (Explaining &#20010;)</h4>
				<%= partial(:video, :locals => {:video_link => "mrubnOSdHLY"}) %>
				<h5 id="intro-mw-activity">Activity!</h5>
				<p>Rearrange the words below to form two grammatically correct sentences (including proper punctuation placement).</p>
				<%= partial(:rearrange_activity,
							:locals => {
							  :word_order => {"我" => 2, "有" => 4, "三" => 1, "个" => 3, "妹妹" => 0, "。" => 5 },
							  :congrats_text => {
								:chinese => "对！",
								:english => "Correct! Now proceed to the next sentence." },
							  :activity_column_size => 7
							}) %>
				<%= partial(:rearrange_activity,
							:locals => {
							  :word_order => {"你" => 1, "喜欢" => 0, "哪" => 2, "个" => 4, "地方" => 3, "？" => 5 },
							  :congrats_text => {
								:chinese => "对！",
								:english => "Correct! Now you can proceed to the next video." },
							  :activity_column_size => 7
							}) %>
				<h4 id="common-mw">Commonly Used Measure Words (&#21475;&#65292;&#21482;&#65292;&#23478;)</h4>
				<%= partial(:video, :locals => {:video_link => "WA00GfQUdXc"}) %>
				<h5 id="common-mw-activity">Activity!</h5>
				<p>Rearrange the words below to form two grammatically correct sentences (including proper punctuation placement).</p>
				<%= partial(:rearrange_activity,
							:locals => {
							  :word_order => {"你" => 2, "有" => 4, "几" => 1, "只" => 3, "猫" => 0, "？" => 5 },
							  :congrats_text => {
								:chinese => "对！",
								:english => "Correct! Now proceed to the next sentence." },
							  :activity_column_size => 7
							}) %>
				<%= partial(:rearrange_activity,
							:locals => {
							  :word_order => {"我" => 4, "在" => 0, "一" => 2, "家" => 5, "公司" => 3, "工作" => 1, "。" => 6 },
							  :congrats_text => {
								:chinese => "对！",
								:english => "Correct! Now you can proceed to the next video." },
							  :activity_column_size => 7
							}) %>
				<h4 id="nouns-without-mw">Nouns that Don't Use Measure Words (&#22825;&#65292;&#24180;)</h4>
				<%= partial(:video, :locals => {:video_link => "NQlyD22pLRU"}) %>
				<h5 id="nouns-without-mw-activity">Activity!</h5>
				<p>Rearrange the words below to form two grammatically correct sentences (including proper punctuation placement).</p>
				<%= partial(:rearrange_activity,
							:locals => {
							  :word_order => {"你" => 4, "哥哥" => 2, "喜欢" => 1, "哪" => 3, "天" => 0, "？" => 5 },
							  :congrats_text => {
								:chinese => "对！",
								:english => "Correct! Now proceed to the next sentence." },
							  :activity_column_size => 7
							}) %>
				<%= partial(:rearrange_activity,
							:locals => {
							  :word_order => {"这" => 4, "年" => 0, "有" => 2, "五十二" => 5, "个" => 3, "星期" => 1, "。" => 6 },
							  :congrats_text => {
								:chinese => "对！",
								:english => "Correct! Now you can proceed to the next video." },
							  :activity_column_size => 7
							}) %>
				<h3 id="comparisons">Making Comparisons!</h3>
				<p>Just one more video of Mandarin II Review! You got this!</p>
				<h4 id="using-bi">Using &#27604;</h4>
				<%= partial(:video, :locals => {:video_link => "fdkXQa-gkog"}) %>
				<h5 id="using-bi-activity">Activity!</h5>
				<p>Rearrange the words below to form two grammatically correct sentences (including proper punctuation placement). For the first question, you'll need the following information: Xiaoming's little brother is 1.1 meters tall, but Xiaoming is 1.3 meters tall.</p>
				<%= partial(:rearrange_activity,
							:locals => {
							  :word_order => {"小明" => 2, "比" => 3, "他的弟弟" => 1, "高" => 0, "。" => 4 },
							  :congrats_text => {
								:chinese => "对！",
								:english => "Correct! Now proceed to the next sentence." },
							  :activity_column_size => 7
							}) %>
				<%= partial(:rearrange_activity,
							:locals => {
							  :word_order => {"走路" => 2, "比" => 4, "骑马" => 0, "慢" => 1, "吗" => 3, "？" => 5 },
							  :congrats_text => {
								:chinese => "对！",
								:english => "Correct! Guess what?! You're done with Mandarin II Review!!" },
							  :activity_column_size => 7
							}) %>
			</div><!-- /.blog-post -->
		</div><!-- /.blog-main -->

		<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
			<div class="sidebar-module">
				<h4 id="contents">Table of Contents</h4>
				<ol class="list-unstyled">
					<li><a href="#fm-begin">Mandarin III</a></li>
						<ol>
							<li><a href="#ch-1">Chapter 1: Colors</a></li>
								<ol>
									<li><a href="#1-L">Listening</a></li>
								</ol>
							<li><a href="#ch-2">Chapter 2: Clothes</a></li>
								<ol>
									<li><a href="#2-L">Listening</a></li>
								</ol>
							<li><a href="#ch-3">Chapter 3: Clothes</a></li>
								<ol>
									<li><a href="#3-L">Listening</a></li>
									<li><a href="#le-completed-action">了 for Completed Action</a></li>
									<li><a href="#lack-past－action">Lack of Past Action</a></li>
								</ol>
							<li><a href="#ch-4-5">Chapter 4/5: Weather</a></li>
								<ol>
									<li><a href="#4-5-L">Listening</a></li>
									<li><a href="#hui-yao">Using 会 and 要</a></li>
									<li><a href="#you-you">Using 又... 又...</a></li>
								</ol>
							<li><a href="#ch-6-7">Chapter 6/7: Vacations</a></li>
								<ol>
									<li><a href="#6-7-L">Listening</a></li>
									<li><a href="#shi-de">Using 是...的</a></li>
									<li><a href="#verb-obj">Verb-Object Phrases</a></li>
								</ol>
						</ol>
					<li><a href="#mii-review">Mandarin II Review</a></li>
						<ol>
							<li><a href="#sentence-structure">Basic Sentence Structure</a></li>
								<ol>
									<li><a href="#svo-sentences">SVO Order</a></li>
								</ol>
							<li><a href="#time-phrases">Time Phrase Series</a></li>
								<ol>
									<li><a href="#basic-time-phrases">Basic Time Phrases</a></li>
									<li><a href="#de-shi-hou">&#30340;&#26102;&#20505;</a></li>
									<li><a href="#yi-hou">&#20197;&#21518;</a></li>
								</ol>
							<li><a href="#more-ways">More On Expressing Time</a></li>
								<ol>
									<li><a href="#sequential-action">Sequential Action</a></li>
									<li><a href="#past-experience">Past Experience</a></li>
								</ol>
							<li><a href="#basic-place">Basic Place Phrases</a></li>
								<ol>
									<li><a href="#place-phrases">Using &#22312;</a></li>
								</ol>
							<li><a href="#question-words">Question Words</a></li>	
								<ol>
									<li><a href="#what">What? (&#20160;&#20040;&#65311;)</a></li>
									<li><a href="#who">Who? (&#35841;&#65311;)</a></li>
									<li><a href="#zen-me">How? (&#24590;&#20040;&#65311;)</a></li>
									<li><a href="#when">When? (&#20160;&#20040;&#26102;&#20505;&#65311;&#20960;&#28857;&#65311;)</a></li>
									<li><a href="#where">Where? (&#21738;&#20799;&#65295;&#21738;&#37324;&#65311;)</a></li>
									<li><a href="#why">Why? (&#20026;&#20160;&#20040;&#65311;)</a></li>
									<li><a href="#qw-with-mw">How Many? (&#20960;&#65311;) and Which? (&#21738;&#65311;)</a></li>
									<li><a href="#ma">Using &#21527;&#65311;</a></li>
									<li><a href="#opposite-verbs">Questions With Opposite Verbs</a></li>
									<li><a href="#hai-shi">Questions Using "Or" (&#36824;&#26159;&#65311;)</a></li>
								</ol>
							<li><a href="#measure-words">Measure Words</a></li>	
								<ol>
									<li><a href="#intro-mw">Introduction</a></li>
									<li><a href="#common-mw">Common MW's</a></li>
									<li><a href="#nouns-without-mw">Nouns Without MW's</a></li>
								</ol>
							<li><a href="#comparisons">Comparisons</a></li>	
								<ol>
									<li><a href="#using-bi">Using &#27604;</a></li>
								</ol>
						</ol>
				</ol>
			</div>
		</div><!-- /.blog-sidebar -->
	</div><!-- /.row -->
</div><!-- /.container -->

<div class="blog-footer">
	<p>Template built with <a href="http://getbootstrap.com">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
	<p>Website created by Cora Ceipek <a href="http://www.youtube.com/coravecwriter"</p>
	<p>
		<a href="#">Back to top</a>
	</p>
</div>